.card
	padding: 20px
	min-height: 130px
	border-radius: 16px
	background-color: #172673
	filter: drop-shadow(0px 8px 15px rgba(6, 19, 74, 0.302))
	&_active
		position: relative
		background: linear-gradient(156.94deg, #1D2F86 36.08%, #00C7D3 219.02%)
		&:after
			position: absolute
			content: ''
			bottom: -2px
			left: 20px
			width: 35px
			height: 4px
			border-radius: 20px
			filter: drop-shadow(0px 0px 15px #5272FF)
			background: linear-gradient(90deg, #5272FF 0%, #00C7D3 100%)
	&__icon
		width: 35px
		height: 35px
		margin-bottom: 16px
	&__icon1
		background-image: url('../images/dist/icon1.png')
	&__icon2
		background-image: url('../images/dist/icon2.png')
	&__icon3
		background-image: url('../images/dist/icon3.png')
	&__icon4
		background-image: url('../images/dist/icon4.png')
	&__icon5
		background-image: url('../images/dist/icon5.png')
	&__icon6
		background-image: url('../images/dist/icon6.png')
	&__text
		line-height: 19px
	&__text-br
		max-width: 100px
	&__text-br1
		max-width: 70px