.sidebar
	position: fixed
	z-index: 1
	top: 0
	left: 0
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center
	flex: 0 0 30%
	max-width: 220px
	height: 100%
	padding: 28px 34px 35px
	background-color: #0C1750
	&__logo
		min-height: 14px
		width: 100px
	&__logOut
		align-self: flex-start
	&__logOut-icon
		margin-right: 10px
	&__logOut-link
		color: $activecolor
		line-height: 19px
		&:hover
			color: $activecolor
	&_active
		max-width: 90px